<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lokesh Ramineni</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <%- include("partial/header.ejs"); %>
    <main>
        <div class="main">
            <div class="left" >
                <h3>Hi! I'm</h3>
                <h2>
                    Lokesh Ramineni
                </h2>
            </div>
            <div class="middle">
                <!-- <img src="pic.png" alt="pic"> -->
            </div>
            <div class="right" >
                some information about me
            </div>
        </div>
    </main>
    <%- include("partial/footer.ejs"); %>
    
</body>
</html>