.container{
  /* display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  justify-content: space-evenly; */
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  max-width: 1200px;
  margin: 2rem auto;
}
.contact_container {
  display: flex;
  flex-direction: column;
  gap: 2rem; 
}
.below,.contact_info{
  padding: 20px;
  width: 400px;
  height: 240px;
  background-color: #F3EFE6;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  background-color: #F3EFE6;
}
.below{
  height: 60px;
}
.info{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color:#F2B544;
    font-size: 24px;
}
.project{
  width: 400px;
  padding: 20px;
  background-color: #F3EFE6;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.project label, input::placeholder, textarea::placeholder{
  opacity: 0.8;
}
.project input{
  height: 2rem;
  margin-top: 0.5rem;
  border: 2px solid #ccc;
  padding-left: 0.3rem;
  border-radius: 10px;
  background-color: #F3EFE6;
}
.project textarea{
  margin-top: 0.5rem;
  padding: 0.5rem;
  border-radius: 10px;
  border: 2px solid #ccc;
  background-color: #F3EFE6;
}
.details{
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.details, .subject,
 .message{
  margin-bottom: 1rem;
 }
button{
  background-color: #F2B544;
  height:30px;
  width: 100%;
  text-align: center;
  color: azure;
  font-weight: 600;
  border-radius: 10px;
  border:none;
}