html,body{
    height: 100%;
}
body{
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #FBF8F1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
  flex: 1;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  max-width: 1200px;
  margin: 2rem auto 0 auto;
  align-items: start;
  margin-bottom: 2rem;
}
.contact_container {
  display: flex;
  flex-direction: column;
  gap: 2rem; 
}
.below,.contact_info{
  padding: 20px;
  width: 400px;
  height: 240px;
  background-color: #F3EFE6;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  background-color: #F3EFE6;
}
.below{
  height: 60px;
  display: flex;
}
.below div{
  margin-right: 1rem;
}
.info{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color:#F2B544;
    font-size: 24px;
}
.project{
  width: 400px;
  padding: 20px;
  background-color: #F3EFE6;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.project label, input::placeholder, textarea::placeholder{
  opacity: 0.8;
}
.project input{
  height: 2rem;
  margin-top: 0.5rem;
  border: 2px solid #ccc;
  padding-left: 0.3rem;
  border-radius: 10px;
  background-color: #F3EFE6;
}
.project textarea{
  margin-top: 0.5rem;
  padding: 0.5rem;
  border-radius: 10px;
  border: 2px solid #ccc;
  background-color: #F3EFE6;
}
.details{
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.details, .subject,
 .message{
  margin-bottom: 1rem;
 }
button{
  background-color: #F2B544;
  height:45px;
  cursor: pointer;
  width: 100%;
  text-align: center;
  color: azure;
  font-weight: 800;
  font-size: large;
  border-radius: 10px;
  border:none;
}
.ADJUST i{
    margin-top: 8px;
    margin-left: 5px;
}
@media (max-width: 980px) {
  .container {
    grid-template-columns: 1fr;  
    padding-right: 1rem;
  }
}