.projects_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 20px;
    margin-bottom: 50px;
    margin-top: 50px;
}
.project_card {
    height: auto;
    width: 90%;
    background-color: #F3EFE6;
    border-radius: 15px;
    padding: 15px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.img img {
    height: 200px;
    width: 100%;
    object-fit: contain;
    border-radius: 0px;
}
.project_card img {
  cursor: zoom-in;
}
.project_card span{
    display: inline-block;
    background-color: rgba(47, 127, 122, 0.1);
    color:#2F7F7A;
    padding: 5px 10px;
    border-radius: 12px;
    margin: 5px 5px 0 0;
    font-size: 0.8rem;
    border: 1px solid #2F7F7A;
}
.project_card:hover {
    transform: translateY(-6px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
div a{
    text-decoration: none;
    
}
.livelinks{
        margin-top: 2rem;
}
.livelinks a{
    color: #2F7F7A;
}

