.skills_container{
    height: 250px;
    background-color: #F3EFE6;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin:20px 150px;
    border-radius: 20px;
    padding: 0.5rem;
}
.h2_skills{
    margin: 20px 150px;
}
@media (max-width: 768px) {
    .skills_container{
        margin:1rem;
        height: auto;
    }
    .h2_skills{
        margin: 20px 20px;
    }
}