<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lokesh-Ramineni</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <footer>
            <div class="footer">
                <div>
                    <h2>Lokesh Ramineni.</h2>
                    <p style="opacity: 0.8;">Full Stack Developer crafting responsive and <br>user-focused web experiences.</p>
                </div>
                <div class="space" >
                    <h3>Quick Links</h3>
                    <a href="/">Home</a><br>
                    <a href="/skills">Skills</a><br>
                    <a href="/projects">Projects</a><br>
                    <a href="/about">About</a><br>
                </div>
                <div class="space" >
                    <h3>Resources</h3>
                    <a href="/LOKESH_RESUME.pdf" download>Resume</a><br>
                    <a href="#">Certificatons</a><br>
                </div>
                <div class="space" >
                    <h3>Connect</h3>
                     <a href="https://www.linkedin.com/in/lokesh-ramineni-43bbb43a4/" style="display: inline-block; margin-right: 10px;"> <i class="fa-brands fa-linkedin-in"></i></a>
                    <a href="https://github.com/Lokesh-Ramineni/" style="display: inline-block; margin-right: 10px;"> <i class="fa-brands fa-github"></i></a>
                </div>
            </div>
            <div class="below_footer">
                <p>Made with ❤️</p>
                <p>Designed and Developed By Lokesh Ramineni</p>
            </div>
        </footer>
</body>
</html>