<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lokesh Ramineni</title>
    <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
        <header>
        <div class="name" ><h2>Lokesh Ramineni</h2></div>
        <div class="social-icons" >
            <a href="https://www.linkedin.com/in/lokesh-ramineni-43bbb43a4/"> <i class="fa-brands fa-linkedin-in"></i></a>
            <a href="https://github.com/Lokesh-Ramineni/"> <i class="fa-brands fa-github"></i></a>
        </div>
        <div class="links" >
            <a href="/" style="color:#2F7F7A">( Home )</a>
            <a href="/skills">Skills</a>
            <a href="/projects">Projects</a>
            <a href="/about">About</a>
            <a href="/contact">contact</a>
        </div>
        <div class="download"><i class="fa-solid fa-download" style="margin-right: 0.2rem;"></i>Download Resume</div> 
    </header>
</body>
</html>